
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}

nav {
  background-color: #efefef;
  padding: 18px 70px;
}

nav h3 {
  color: #e10600;
  font-weight: 500;
  font-size: 20px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e10600;
  color: white;
  padding: 100px 70px;
}

.row {
  width: 55%;
}

.row h2 {
  font-size: 56px;
  font-weight: 300;
  margin-bottom: 30px;
}

.row p {
  font-size: 20px;
  line-height: 1.6;
  max-width: 600px;
}

.row2 {
  width: 40%;
  display: flex;
  justify-content: center;
}

.row2 img {
  width: 300px;
  height: auto;
}

footer {
  display: flex;
  background-color: #7a0d0d;
}

footer section {
  flex: 1;
  padding: 70px 60px;
  color: #f3f3f3;
  border-right: 3px solid #e10600; 
}


footer h4 {
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 500;
}

footer p {
  font-size: 16px;
  line-height: 1.43;
  color: #e0dcdc;
}
